.main-agileits {
    width: 35%;
    margin: 0em auto;
    box-shadow: 0px 0px 15px 0px #D6D6D6;
    -o-box-shadow: 0px 0px 15px 0px #D6D6D6;
    -moz-box-shadow: 0px 0px 15px 0px #D6D6D6;
    -webkit-box-shadow: 0px 0px 15px 0px #D6D6D6;
    padding: 3em;
}

.login h3 {
    font-size: 40px;
    color: #000;
    margin-bottom: 40px;
}
.form-w3agile .btn {
    font-size: 1.5rem;
    line-height: 2;
    margin-bottom: 30px;
}

.forg a {
    text-decoration: none;
    color: #007bff;
    font-size: 1.5em;
}
.forg-right {
    float: right;
}