<div class="auth-wrapper">
    <form class="form-signin" [formGroup]="signupForm" (ngSubmit)="registerUser()">
        <h3 class="h3 mb-3 font-weight-normal text-center">Please sign up</h3>
        <div class="form-group">
            <label>First Name</label>
            <input type="text" class="form-control" formControlName="firstName" placeholder="Please enter first name"
                required>
        </div>
        <div class="form-group">
            <label>Last Name</label>
            <input type="text" class="form-control" formControlName="lastName" placeholder="Please enter last name"
                required>
        </div>
        <div class="form-group">
            <label>Date of birth</label>
            <input type="text" class="form-control" formControlName="dob" placeholder="DD/MM/YYYY">
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" formControlName="email" placeholder="Enter your email">
        </div>
        <div class="form-group">
            <label>Phone Number</label>
            <input type="text" class="form-control" formControlName="phoneNumber" placeholder="Enter your mobile">
        </div>
        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" formControlName="userName" placeholder="Enter your username" required>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" formControlName="password" placeholder="Enter your password">
        </div>
        <div class="form-group">
            <label>Confirm password</label>
            <input type="password" class="form-control" formControlName="confirmPassword" placeholder="Retype password">
        </div>
        <button type="submit" class="btn btn-block btn-primary">Sign up</button>
    </form>
</div>