<div class="auth-wrapper login">
    <div class="main-agileits">
        <div class="form-w3agile">
            <h3 class="h3 font-weight-normal text-center">Please sign up</h3>
            <form class="form-signin" [formGroup]="signupForm" (ngSubmit)="registerUser()">
                <app-input-control [inputModel] = "getRegisterUserModel(iconAlias.USER, 'text', '', 'First Name', 'firstName')"></app-input-control>
                
                <app-input-control [inputModel] = "getRegisterUserModel(iconAlias.USER, 'text', '', 'Last Name', 'lastName')"></app-input-control>
                
                <app-input-control [inputModel] = "getRegisterUserModel(iconAlias.CALENDAR, 'date', '', 'Date of birth', 'dob')"></app-input-control>
                
                <app-input-control [inputModel] = "getRegisterUserModel(iconAlias.EMAIL, 'text', '', 'Email', 'email')"></app-input-control>

                <app-input-control [inputModel] = "getRegisterUserModel(iconAlias.PHONE, 'text', '', 'Phone Number', 'phoneNumber')"></app-input-control>
                
                <app-input-control [inputModel] = "getRegisterUserModel(iconAlias.USER, 'text', '', 'User Name', 'userName')"></app-input-control>
                
                <app-input-control [inputModel] = "getRegisterUserModel(iconAlias.PASSWORD, 'password', '', 'Password', 'password')"></app-input-control>
                
                <app-input-control [inputModel] = "getRegisterUserModel(iconAlias.PASSWORD, 'password', '', 'Confirm Password', 'confirmPassword')"></app-input-control>
                
                <button type="submit" class="btn btn-block btn-primary">Sign up</button>
            </form>
        </div>
    </div>
</div>