<div class="auth-wrapper login">
    <div class="main-agileits">
        <div class="form-w3agile">
            <h3 class="h3 font-weight-normal text-center">Please sign in</h3>
            <form class="form-signin">
                <div class="hasError" *ngIf = "loginError.userName">{{loginError.userName}}</div>
                <app-input-control 
                    [inputModel] = "getInput(iconAlias.EMAIL,'text','','Email', 'userName')"
                    [hasError] = "!!loginError.userName"
                    (readEvent) = "getUserNameValue($event)"
                >
                </app-input-control>
                <div class="hasError" *ngIf = "loginError.password">{{loginError.password}}</div>
                <app-input-control 
                    [inputModel] = "getInput(iconAlias.PASSWORD,'password','','Password', 'password')"
                    (readEvent) = "getPasswordValue($event)"
                >
                </app-input-control>
                <button type="submit" class="btn btn-block btn-primary" (click)="loginUser()">Sign in</button>
                
            </form>
        </div>  
        <div class="forg">
            <a href="#" class="forg-left">Forgot Password</a>
            <a href="/sign-up" class="forg-right">Register</a>
        <div class="clearfix"></div>
        </div>      
    </div>
</div>