<div class="col-md-12">
    <div class="card card-container">
        <img id="profile-img" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" class="profile-img-card" />
        <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" name="firstName" [(ngModel)]="form.firstName" required
                    minlength="3" maxlength="20" #firstName="ngModel" />
                <div class="alert-danger" *ngIf="f.submitted && firstName.invalid">
                    <div *ngIf="firstName.errors.required">Username is required</div>
                    <div *ngIf="firstName.errors.minlength">
                        First name must be at least 3 characters
                    </div>
                    <div *ngIf="firstName.errors.maxlength">
                        First name must be at most 20 characters
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" name="lastName" [(ngModel)]="form.lastName" required
                    minlength="3" maxlength="20" #lastName="ngModel" />
                <div class="alert-danger" *ngIf="f.submitted && firstName.invalid">
                    <div *ngIf="lastName.errors.required">Username is required</div>
                    <div *ngIf="lastName.errors.minlength">
                        Last name must be at least 3 characters
                    </div>
                    <div *ngIf="lastName.errors.maxlength">
                        Last name must be at most 20 characters
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="dob">Date of birth</label>
                <input type="text" class="form-control" name="dob" [(ngModel)]="form.dob" required #dob="ngModel" />
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" name="email" [(ngModel)]="form.email" required email
                    #email="ngModel" />
            </div>
            <div class="form-group">
                <label for="phoneNumber">Telephone number</label>
                <input type="text" class="form-control" name="phoneNumber" [(ngModel)]="form.phoneNumber" required
                    maxlength="12" #phoneNumber="ngModel" />
                <div class="alert-danger" *ngIf="f.submitted && phoneNumber.invalid">
                    <div *ngIf="phoneNumber.errors.required">Username is required</div>
                    <div *ngIf="phoneNumber.errors.maxlength">
                        Phone number just only contain max 20 characters
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="userName">User Name</label>
                <input type="text" class="form-control" name="userName" [(ngModel)]="form.userName" required
                    minlength="5" maxlength="50" #userName="ngModel" />
                <div class="alert-danger" *ngIf="f.submitted && userName.invalid">
                    <div *ngIf="userName.errors.required">Username is required</div>
                    <div *ngIf="userName.errors.minlength">
                        User name must be at least 5 characters
                    </div>
                    <div *ngIf="userName.errors.maxlength">
                        User name must be at most 50 characters
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="text" class="form-control" name="password" [(ngModel)]="form.password" required
                    minlength="8" #password="ngModel" />
                <div class="alert-danger" *ngIf="f.submitted && password.invalid">
                    <div *ngIf="password.errors.required">Username is required</div>
                    <div *ngIf="password.errors.minlength">
                        Last name must be at least 3 characters
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="confirmPassword">Last Name</label>
                <input type="text" class="form-control" name="confirmPassword" [(ngModel)]="form.confirmPassword"
                    required minlength="8" #confirmPassword="ngModel" />
                <div class="alert-danger" *ngIf="f.submitted && confirmPassword.invalid">
                    <div *ngIf="confirmPassword.errors.required">Username is required</div>
                    <div *ngIf="confirmPassword.errors.minlength">
                        Last name must be at least 3 characters
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block">Sign Up</button>
            </div>

            <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
                Signup failed!<br />{{ errorMessage }}
            </div>
        </form>
        <div class="alert alert-success" *ngIf="isSuccessful">
            Your registration is successful!
        </div>
    </div>
</div>